#auto-top-link, #footer-wrapper, .main-search, .home-banner-wrapper ul li img, #bannerwrapper, #leftcol, #breadcrumb, #backtoTop, #footerwrapper, .content-right-col, .content-banner-wrapper > img, .content-banner-wrapper > div > p, .home-banner-wrapper ul li p, .home-banner-wrapper ul li p a {display:none}

a[href]:after { content: none !important; }

.grey-box { clear:both; margin-bottom:20px; }
.grey-box > img { display:none;  }
.grey-box .grey-inner, .banner-text { position:relative; }

.home-wrapper.inner-wrapper { min-height:0; }

.home-banner-wrapper .bx-wrapper { height:100px; }

.leadership-down{display:block !important}

.news-filter {display:none}

tr, p, img, h1, h2, h3, h4, h5, h6 { page-break-inside:avoid;}